# this script allows to print all the information for a specific SNP

In [1]:
import pandas as pd
import numpy as np
from multiprocessing import Pool
from functools import partial
import glob
import os
import plotly.express as px
import math
import matplotlib.pyplot as plt
from matplotlib import colors
import pybedtools as pbed

from scipy import stats, special
from statsmodels.stats import multitest
import statsmodels.api as sm
import statsmodels.formula.api as smf
import plotly.io as pio
import seaborn as sns

from functools import reduce

plt.rcParams['svg.fonttype'] = 'none'
pd.set_option('display.max_columns', 500)

base_dir = "http://bartzabel.ls.manchester.ac.uk/orozcolab/SNP2Mechanism/"

In [2]:
gtf_annotation_df = pd.read_pickle(f"{base_dir}/metadata/gencode_gtf.pickle")
gtf_transcripts = gtf_annotation_df[(gtf_annotation_df["feature"] == "transcript") & (gtf_annotation_df["transcript_type"] == "protein_coding")].dropna(axis=1, how='all')
gtf_transcripts["gene_id"] = gtf_transcripts["gene_id"].str.split(".").str[0]
gtf_transcripts["transcript_id"] = gtf_transcripts["transcript_id"].str.split(".").str[0]
gtf_transcripts["TSS_start"] = gtf_transcripts.apply(lambda x: int(x["start"]) if x["strand"] == "+" else int(x["end"]) ,axis = 1)
gene_mapper = dict(zip(gtf_transcripts['gene_id'], gtf_transcripts['gene_name']))

In [3]:
RNA_nominal_CD4 = pd.read_csv(f"{base_dir}/QTLs/RNA/RNA_nominal_CD4_merged.txt", sep = " ")
RNA_nominal_CD8 = pd.read_csv(f"{base_dir}/QTLs/RNA/RNA_nominal_CD8_merged.txt", sep = " ")
ATAC_nominal_CD8 = pd.read_csv(f"{base_dir}/QTLs/ATAC/ATAC_nominal_CD8_merged.txt", sep = " ")
ATAC_nominal_CD4 = pd.read_csv(f"{base_dir}/QTLs/ATAC/ATAC_nominal_CD4_merged.txt", sep = " ")
ins_nominal_CD8 = pd.read_csv(f"{base_dir}/QTLs/HiC/ins_nominal_CD8_merged.txt", sep = " ")
ins_nominal_CD4 = pd.read_csv(f"{base_dir}/QTLs/HiC/ins_nominal_CD4_merged.txt", sep = " ")
loop_nominal_CD8 = pd.read_csv(f"{base_dir}/QTLs/HiC/loop_nominal_CD8_merged.txt", sep = " ")
loop_nominal_CD4 = pd.read_csv(f"{base_dir}/QTLs/HiC/loop_nominal_CD4_merged.txt", sep = " ")


RNA_permuted_CD4 = pd.read_csv(f"{base_dir}/QTLs/RNA/RNA_permuted_CD4_FDR.txt", sep = " ")
RNA_permuted_CD8 = pd.read_csv(f"{base_dir}/QTLs/RNA/RNA_permuted_CD8_FDR.txt", sep = " ")
ATAC_permuted_CD4 = pd.read_csv(f"{base_dir}/QTLs/ATAC/ATAC_permuted_CD4_FDR.txt", sep = " ")
ATAC_permuted_CD8 = pd.read_csv(f"{base_dir}/QTLs/ATAC/ATAC_permuted_CD8_FDR.txt", sep = " ")
ins_permuted_CD4 = pd.read_csv(f"{base_dir}/QTLs/HiC/ins_permuted_CD4_FDR.txt", sep = " ")
ins_permuted_CD8 = pd.read_csv(f"{base_dir}/QTLs/HiC/ins_permuted_CD8_FDR.txt", sep = " ")
loop_permuted_CD4 = pd.read_csv(f"{base_dir}/QTLs/HiC/loop_permuted_CD4_FDR.txt", sep = " ")
loop_permuted_CD8 = pd.read_csv(f"{base_dir}/QTLs/HiC/loop_permuted_CD8_FDR.txt", sep = " ")

loop_allelic_imbalance_ALL = pd.read_csv(f"../HiC_allelic_imbalance/.local/results/allelic_imbalance_ALL_apeglm_results.csv")
loop_allelic_imbalance_CD8 = pd.read_csv(f"../HiC_allelic_imbalance/.local/results/allelic_imbalance_CD8_apeglm_results.csv")
loop_allelic_imbalance_CD4 = pd.read_csv(f"../HiC_allelic_imbalance/.local/results/allelic_imbalance_CD4_apeglm_results.csv")

atac_allelic_imbalance_all = pd.read_csv("../ATAC_allelic_imbalance/.local/results/ATAC_ALL_allelic_imbalance_with_betabinom.csv.gz", index_col = 0)
atac_allelic_imbalance_CD8 = pd.read_csv("../ATAC_allelic_imbalance/.local/results/ATAC_CD8_allelic_imbalance_with_betabinom.csv.gz", index_col = 0)
atac_allelic_imbalance_CD4 = pd.read_csv("../ATAC_allelic_imbalance/.local/results/ATAC_CD4_allelic_imbalance_with_betabinom.csv.gz", index_col = 0)

In [4]:
RNA_nominal_CD4["gene_name"] = RNA_nominal_CD4['phe_id'].map(gene_mapper)
RNA_nominal_CD8["gene_name"] = RNA_nominal_CD8['phe_id'].map(gene_mapper)

In [5]:
def identify_QTL_permuted(var, nominal, permuted):
    # get list of all QTLs that are from the region of the nominal
    phenotypes_with_nominal_qtl = nominal[nominal["var_id"].isin(var)]["phe_id"].to_list()
    display(nominal[nominal["var_id"].isin(var)])
    display(permuted[permuted["phe_id"].isin(phenotypes_with_nominal_qtl)].drop(columns = ["dof1","dof2","bml1","bml2"]))

In [6]:
def get_all_tables(vars):
    if not type(vars) == list:
        vars = [vars]
    print("eQTL CD4")
    identify_QTL_permuted(vars, RNA_nominal_CD4, RNA_permuted_CD4)

    print("eQTL CD8")
    identify_QTL_permuted(vars, RNA_nominal_CD8, RNA_permuted_CD8)

    print("caQTL CD4")
    identify_QTL_permuted(vars, ATAC_nominal_CD4, ATAC_permuted_CD4)

    print("caQTL CD8")
    identify_QTL_permuted(vars, ATAC_nominal_CD8, ATAC_permuted_CD8)

    print("loopQTL CD4")
    identify_QTL_permuted(vars, loop_nominal_CD4, loop_permuted_CD4)

    print("loopQTL CD8")
    identify_QTL_permuted(vars, loop_nominal_CD8, loop_permuted_CD8)

    print("insQTL CD4")
    identify_QTL_permuted(vars, ins_nominal_CD4, ins_permuted_CD4)

    print("insQTL CD8")
    identify_QTL_permuted(vars, ins_nominal_CD8, ins_permuted_CD8)


    print("allelic imbalance ALL")
    display(atac_allelic_imbalance_all[atac_allelic_imbalance_all["ID"].isin(vars)])

    print("allelic imbalance CD4")
    display(atac_allelic_imbalance_CD4[atac_allelic_imbalance_CD4["ID"].isin(vars)])

    print("allelic imbalance CD8")
    display(atac_allelic_imbalance_CD8[atac_allelic_imbalance_CD8["ID"].isin(vars)])


    print("loops with allelic imbalance ALL")
    display(loop_allelic_imbalance_ALL[loop_allelic_imbalance_ALL["rsID"].isin(vars)])

    print("loops with allelic imbalance CD4")
    display(loop_allelic_imbalance_CD4[loop_allelic_imbalance_CD4["rsID"].isin(vars)])

    print("loops with allelic imbalance CD8")
    display(loop_allelic_imbalance_CD8[loop_allelic_imbalance_CD8["rsID"].isin(vars)])

In [7]:
get_all_tables("rs968567")

eQTL CD4

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit,gene_name
783409,ENSG00000124920,chr11,61752643,61752643,+,3537,75449,rs968567,chr11,61828092,61828092,2.450390e-03,0.186312,0.632290,0,MYRF
783558,ENSG00000134825,chr11,61792803,61792803,-,3503,-35289,rs968567,chr11,61828092,61828092,7.712190e-03,0.147427,0.562452,0,TMEM258
783649,ENSG00000134824,chr11,61792981,61792981,+,3503,35111,rs968567,chr11,61828092,61828092,6.925260e-09,0.529276,1.065710,0,FADS2
783828,ENSG00000149485,chr11,61829319,61829319,-,3434,1227,rs968567,chr11,61828092,61828092,3.699950e-05,0.317708,0.825678,0,FADS1

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
10029,ENSG00000124920,chr11,61752643,61752643,+,3537,130632,rs174454,chr11,61883275,61883275,7.148970e-05,0.298311,-0.750747,0.067932,0.066845,0.378088
10031,ENSG00000134825,chr11,61792803,61792803,-,3503,-58556,rs174593,chr11,61851359,61851359,1.408090e-04,0.277854,0.700925,0.107892,0.107306,0.461638
10032,ENSG00000134824,chr11,61792981,61792981,+,3503,-4414,rs61896141,chr11,61788567,61788567,4.101790e-09,0.539919,1.136990,0.000999,0.000009,0.000624
10033,ENSG00000149485,chr11,61829319,61829319,-,3434,-40796,rs174628,chr11,61870115,61870115,6.006590e-09,0.532192,1.110430,0.000999,0.000012,0.000731

eQTL CD8

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit,gene_name
891389,ENSG00000134824,chr11,61792981,61792981,+,3503,35111,rs968567,chr11,61828092,61828092,1.206270e-13,0.590868,1.171750,0,FADS2
891579,ENSG00000149485,chr11,61829319,61829319,-,3434,1227,rs968567,chr11,61828092,61828092,3.805590e-07,0.342444,0.892041,0,FADS1

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
10032,ENSG00000134824,chr11,61792981,61792981,+,3503,-4414,rs61896141,chr11,61788567,61788567,3.205650e-14,0.607819,1.30368,0.000999,2.393790e-10,3.714057e-08
10033,ENSG00000149485,chr11,61829319,61829319,-,3434,7310,rs28456,chr11,61822009,61822009,5.925580e-08,0.379778,0.82583,0.000999,4.711790e-05,1.148977e-03

caQTL CD4

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit
5155680,17409,chr11,61752268,61752767,+,3538,75325,rs968567,chr11,61828092,61828092,3.250160e-03,0.169914,0.607255,0
5155893,17412,chr11,61792566,61793065,+,3503,35027,rs968567,chr11,61828092,61828092,2.335900e-03,0.180612,0.626081,0
5156050,17413,chr11,61816419,61816918,+,3461,11174,rs968567,chr11,61828092,61828092,1.243640e-09,0.547486,1.090040,0
5156214,17414,chr11,61827747,61828246,+,3439,0,rs968567,chr11,61828092,61828092,7.096930e-11,0.598687,1.139870,0
5156377,17415,chr11,61834521,61835020,+,3423,-6429,rs968567,chr11,61828092,61828092,3.394150e-10,0.571449,1.113640,0
5156579,17416,chr11,61871090,61871589,+,3392,-42998,rs968567,chr11,61828092,61828092,7.872840e-09,0.511182,1.053280,0
5158331,17454,chr11,62380719,62381218,+,3790,-552627,rs968567,chr11,61828092,61828092,2.423340e-03,0.179426,0.624022,0
5159536,17472,chr11,62499658,62500157,+,3916,-671566,rs968567,chr11,61828092,61828092,9.368490e-04,0.209734,0.674671,1

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
78191,17409,chr11,61752268,61752767,+,3538,28320,rs509360,chr11,61781087,61781087,3.280230e-04,0.242251,0.647936,0.239760,2.308800e-01,0.708305
78194,17412,chr11,61792566,61793065,+,3503,0,rs174538,chr11,61792609,61792609,5.674870e-07,0.415949,0.842804,0.000999,6.699020e-04,0.017930
78195,17413,chr11,61816419,61816918,+,3461,14957,rs61897793,chr11,61831875,61831875,1.486230e-10,0.586040,1.187670,0.000999,1.267450e-07,0.000015
78196,17414,chr11,61827747,61828246,+,3439,3629,rs61897793,chr11,61831875,61831875,7.014640e-12,0.635887,1.237150,0.000999,3.308950e-08,0.000005
78197,17415,chr11,61834521,61835020,+,3423,-2646,rs61897793,chr11,61831875,61831875,4.489650e-11,0.606332,1.208060,0.000999,5.734530e-08,0.000008
78198,17416,chr11,61871090,61871589,+,3392,-39215,rs61897793,chr11,61831875,61831875,3.874110e-09,0.525454,1.124610,0.000999,5.978920e-06,0.000344
78236,17454,chr11,62380719,62381218,+,3790,541557,rs10897304,chr11,62922775,62922775,1.997150e-04,0.257256,0.729166,0.136863,1.321260e-01,0.598674
78254,17472,chr11,62499658,62500157,+,3916,-671566,rs968567,chr11,61828092,61828092,9.368490e-04,0.209734,0.674671,0.450549,4.430640e-01,0.830380

caQTL CD8

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit
5533374,17409,chr11,61752268,61752767,+,3538,75325,rs968567,chr11,61828092,61828092,1.579080e-03,0.147619,0.588821,0
5533773,17412,chr11,61792566,61793065,+,3503,35027,rs968567,chr11,61828092,61828092,2.924990e-05,0.243758,0.756644,0
5533899,17413,chr11,61816419,61816918,+,3461,11174,rs968567,chr11,61828092,61828092,2.241410e-10,0.474607,1.055790,0
5534069,17414,chr11,61827747,61828246,+,3439,0,rs968567,chr11,61828092,61828092,2.911980e-11,0.507080,1.091320,0
5534313,17415,chr11,61834521,61835020,+,3423,-6429,rs968567,chr11,61828092,61828092,6.847320e-12,0.528922,1.114570,0
5534544,17416,chr11,61871090,61871589,+,3392,-42998,rs968567,chr11,61828092,61828092,3.312870e-08,0.386188,0.952383,0

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
78191,17409,chr11,61752268,61752767,+,3538,18162,rs174527,chr11,61770929,61770929,1.089940e-04,0.213011,-0.634225,0.070929,7.597540e-02,4.423065e-01
78194,17412,chr11,61792566,61793065,+,3503,20913,rs7394579,chr11,61813978,61813978,4.551970e-06,0.285511,0.779653,0.004995,4.926960e-03,7.223641e-02
78195,17413,chr11,61816419,61816918,+,3461,-27852,rs61896141,chr11,61788567,61788567,4.762670e-11,0.499435,1.188050,0.000999,1.072360e-07,7.018420e-06
78196,17414,chr11,61827747,61828246,+,3439,-39180,rs61896141,chr11,61788567,61788567,1.499620e-12,0.550820,1.247670,0.000999,4.859460e-09,5.165704e-07
78197,17415,chr11,61834521,61835020,+,3423,-2646,rs61897793,chr11,61831875,61831875,8.379300e-13,0.558947,1.248350,0.000999,3.870060e-09,4.264725e-07
78198,17416,chr11,61871090,61871589,+,3392,-82523,rs61896141,chr11,61788567,61788567,1.017800e-09,0.449205,1.126720,0.000999,1.968960e-06,8.713683e-05

loopQTL CD4

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit
4587414,63699,chr11,61022501,61107500,+,3809,720592,rs968567,chr11,61828092,61828092,0.000292,0.270964,0.785037,0
4589031,63727,chr11,61795001,61897500,+,3639,0,rs968567,chr11,61828092,61828092,0.000004,0.401096,0.955122,1
4589133,63728,chr11,61795001,61950000,+,3710,0,rs968567,chr11,61828092,61828092,0.000011,0.372181,0.920050,0
4589253,63730,chr11,61795001,62380000,+,4711,0,rs968567,chr11,61828092,61828092,0.000792,0.237571,-0.735074,0
4589309,63731,chr11,61797501,61947500,+,3699,0,rs968567,chr11,61828092,61828092,0.000011,0.372181,0.920050,0
4589496,63734,chr11,61797501,62312500,+,4609,0,rs968567,chr11,61828092,61828092,0.000268,0.273745,-0.789055,0
4589551,63735,chr11,61797501,62377500,+,4701,0,rs968567,chr11,61828092,61828092,0.000792,0.237571,-0.735074,0

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
75144,63699,chr11,61022501,61107500,+,3809,730641,rs174579,chr11,61838141,61838141,1.272650e-05,0.367970,0.771442,0.008991,0.011555,0.587958
75172,63727,chr11,61795001,61897500,+,3639,0,rs968567,chr11,61828092,61828092,3.952780e-06,0.401096,0.955122,0.001998,0.003863,0.347446
75173,63728,chr11,61795001,61950000,+,3710,0,rs7394579,chr11,61813978,61813978,9.280570e-07,0.439915,0.887300,0.000999,0.000915,0.137836
75175,63730,chr11,61795001,62380000,+,4711,0,rs7394579,chr11,61813978,61813978,6.170500e-04,0.246029,-0.663558,0.409590,0.398722,0.947207
75176,63731,chr11,61797501,61947500,+,3699,0,rs7394579,chr11,61813978,61813978,9.280570e-07,0.439915,0.887300,0.000999,0.000777,0.124488
75179,63734,chr11,61797501,62312500,+,4609,-21012,rs174529,chr11,61776489,61776489,2.367140e-04,0.277851,-0.704831,0.158841,0.170979,0.903410
75180,63735,chr11,61797501,62377500,+,4701,0,rs7394579,chr11,61813978,61813978,6.170500e-04,0.246029,-0.663558,0.399600,0.387082,0.945442

loopQTL CD8

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit
4749712,63700,chr11,61027501,61062500,+,3729,765592,rs968567,chr11,61828092,61828092,0.003653,0.154029,0.624245,0
4749853,63704,chr11,61082501,61127500,+,3788,700592,rs968567,chr11,61828092,61828092,0.003099,0.159031,-0.634300,0
4750847,63727,chr11,61795001,61897500,+,3639,0,rs968567,chr11,61828092,61828092,0.001118,0.189635,0.692649,1
4751162,63734,chr11,61797501,62312500,+,4609,0,rs968567,chr11,61828092,61828092,0.000037,0.286347,-0.851138,1
4751255,63736,chr11,61800001,62312500,+,4603,0,rs968567,chr11,61828092,61828092,0.000231,0.235473,-0.771835,1

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
75145,63700,chr11,61027501,61062500,+,3729,787005,rs174590,chr11,61849505,61849505,0.000244,0.233866,0.671115,0.159840,0.161894,0.858242
75149,63704,chr11,61082501,61127500,+,3788,551380,rs4963304,chr11,61678880,61678880,0.001486,0.181175,0.577851,0.604396,0.601274,0.946697
75172,63727,chr11,61795001,61897500,+,3639,0,rs968567,chr11,61828092,61828092,0.001118,0.189635,0.692649,0.513487,0.511912,0.932272
75179,63734,chr11,61797501,62312500,+,4609,0,rs968567,chr11,61828092,61828092,0.000037,0.286347,-0.851138,0.044955,0.040119,0.741052
75181,63736,chr11,61800001,62312500,+,4603,0,rs968567,chr11,61828092,61828092,0.000231,0.235473,-0.771835,0.170829,0.178388,0.864602

insQTL CD4

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit
7950085,74823,chr11,61775001,61800000,+,3533,28092,rs968567,chr11,61828092,61828092,8.219530e-06,0.366771,0.925705,0
7950175,74824,chr11,61800001,61825000,+,3519,3092,rs968567,chr11,61828092,61828092,8.717030e-10,0.578289,1.162380,1
7950290,74825,chr11,61825001,61850000,+,3502,0,rs968567,chr11,61828092,61828092,1.500090e-09,0.567919,1.151910,1
7950409,74826,chr11,61850001,61875000,+,3444,-21909,rs968567,chr11,61828092,61828092,3.534510e-08,0.502469,1.083500,0
7950528,74827,chr11,61875001,61900000,+,3422,-46909,rs968567,chr11,61828092,61828092,1.133880e-07,0.475990,1.054570,0
7950631,74828,chr11,61900001,61925000,+,3432,-71909,rs968567,chr11,61828092,61828092,6.036120e-03,0.159099,0.609690,0

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
82449,74823,chr11,61775001,61800000,+,3533,0,rs7943728,chr11,61779596,61779596,8.219530e-06,0.366771,0.925705,0.006993,0.007290,0.105715
82450,74824,chr11,61800001,61825000,+,3519,3092,rs968567,chr11,61828092,61828092,8.717030e-10,0.578289,1.162380,0.000999,0.000003,0.000272
82451,74825,chr11,61825001,61850000,+,3502,0,rs968567,chr11,61828092,61828092,1.500090e-09,0.567919,1.151910,0.000999,0.000003,0.000323
82452,74826,chr11,61850001,61875000,+,3444,-18126,rs61897793,chr11,61831875,61831875,3.534510e-08,0.502469,1.083500,0.000999,0.000053,0.002850
82453,74827,chr11,61875001,61900000,+,3422,-43126,rs61897793,chr11,61831875,61831875,1.133880e-07,0.475990,1.054570,0.000999,0.000187,0.007456
82454,74828,chr11,61900001,61925000,+,3432,-138659,rs400075,chr11,61761342,61761342,1.362060e-03,0.209992,0.698768,0.583417,0.568854,0.814478

insQTL CD8

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,best_hit
8419476,74823,chr11,61775001,61800000,+,3533,28092,rs968567,chr11,61828092,61828092,2.603060e-08,0.458377,1.076870,0
8419764,74824,chr11,61800001,61825000,+,3519,3092,rs968567,chr11,61828092,61828092,2.105030e-11,0.588455,1.220140,0
8420008,74825,chr11,61825001,61850000,+,3502,0,rs968567,chr11,61828092,61828092,5.268010e-12,0.609957,1.242230,0
8420198,74826,chr11,61850001,61875000,+,3444,-21909,rs968567,chr11,61828092,61828092,9.515960e-08,0.430772,1.043950,1
8420350,74827,chr11,61875001,61900000,+,3422,-46909,rs968567,chr11,61828092,61828092,3.459110e-08,0.452433,1.069870,0
8420607,74828,chr11,61900001,61925000,+,3432,-71909,rs968567,chr11,61828092,61828092,2.772920e-05,0.293727,0.862038,0

,phe_id,phe_chr,phe_from,phe_to,phe_strd,n_var_in_cis,dist_phe_var,var_id,var_chr,var_from,var_to,nom_pval,r_squared,slope,adj_emp_pval,adj_beta_pval,FDR
82425,74823,chr11,61775001,61800000,+,3533,31875,rs61897793,chr11,61831875,61831875,1.755020e-08,0.466515,1.031690,0.000999,3.290160e-05,0.001567
82426,74824,chr11,61800001,61825000,+,3519,6875,rs61897793,chr11,61831875,61831875,1.250700e-11,0.596669,1.166760,0.000999,5.730200e-08,0.000009
82427,74825,chr11,61825001,61850000,+,3502,0,rs61897793,chr11,61831875,61831875,3.243860e-12,0.617220,1.186690,0.000999,9.414330e-09,0.000002
82428,74826,chr11,61850001,61875000,+,3444,-21909,rs968567,chr11,61828092,61828092,9.515960e-08,0.430772,1.043950,0.000999,1.380170e-04,0.004940
82429,74827,chr11,61875001,61900000,+,3422,-43126,rs61897793,chr11,61831875,61831875,1.289800e-08,0.472792,1.038610,0.000999,2.519830e-05,0.001279
82430,74828,chr11,61900001,61925000,+,3432,-68126,rs61897793,chr11,61831875,61831875,4.585490e-06,0.340148,0.880948,0.004995,5.011360e-03,0.074477

allelic imbalance ALL

,CHROM,POS,ID,REF,ALT,combined_p_val_greater,combined_p_val_less,tot_REF,tot_ALT,ratio,n_pat,corrected_p_val_greater,corrected_p_val_less,TF_remap,TF_JASPAR,eQTLgen_gene,eQTLgen_symbol,eQTLgen_pval,ATAC_hic_corr_score,snp,hsc_genes,tcell_genes,all_genes,CD4_loop_svalue,CD8_loop_svalue,ALL_loop_svalue,svalues_betabinom
36902,chr11,61828092,rs968567,C,T,1.0,0.0,308.0,2540.0,8.246753,23.0,1.0,0.0,"{'TWIST1', 'HMGXB4', 'KLF6', 'LMO1', 'ARID4A',...","{'KLF15', 'HNF4G', 'KLF1', 'ZNF740', 'SP4', 'Z...","['ENSG00000134824', 'ENSG00000149485', 'ENSG00...","['FADS2', 'FADS1', 'TMEM258', 'BEST1', 'MYRF']","['FADS2: 309.5', 'FADS1: 309.5', 'TMEM258: 160...",0.08,rs968567,NaN,NaN,NaN,NaN,NaN,NaN,0.0

allelic imbalance CD4

,CHROM,POS,ID,REF,ALT,combined_p_val_greater,combined_p_val_less,tot_REF,tot_ALT,ratio,n_pat,corrected_p_val_greater,corrected_p_val_less,TF_remap,TF_JASPAR,eQTLgen_gene,eQTLgen_symbol,eQTLgen_pval,ATAC_hic_corr_score,snp,hsc_genes,tcell_genes,all_genes,CD4_loop_svalue,CD8_loop_svalue,ALL_loop_svalue,svalues_betabinom
33524,chr11,61828092,rs968567,C,T,1.0,1.627380e-204,127.0,1185.0,9.330709,12.0,1.0,5.669362e-201,"{'TWIST1', 'HMGXB4', 'KLF6', 'LMO1', 'ARID4A',...","{'KLF15', 'HNF4G', 'KLF1', 'ZNF740', 'SP4', 'Z...","['ENSG00000134824', 'ENSG00000149485', 'ENSG00...","['FADS2', 'FADS1', 'TMEM258', 'BEST1', 'MYRF']","['FADS2: 309.5', 'FADS1: 309.5', 'TMEM258: 160...",0.08,rs968567,NaN,NaN,NaN,NaN,NaN,NaN,0.0

allelic imbalance CD8

,CHROM,POS,ID,REF,ALT,combined_p_val_greater,combined_p_val_less,tot_REF,tot_ALT,ratio,n_pat,corrected_p_val_greater,corrected_p_val_less,TF_remap,TF_JASPAR,eQTLgen_gene,eQTLgen_symbol,eQTLgen_pval,ATAC_hic_corr_score,snp,hsc_genes,tcell_genes,all_genes,CD4_loop_svalue,CD8_loop_svalue,ALL_loop_svalue,svalues_betabinom
56295,chr11,61828092,rs968567,C,T,1.0,7.425531e-213,181.0,1355.0,7.486188,11.0,1.0,2.955802e-209,"{'TWIST1', 'HMGXB4', 'KLF6', 'LMO1', 'ARID4A',...","{'KLF15', 'HNF4G', 'KLF1', 'ZNF740', 'SP4', 'Z...","['ENSG00000134824', 'ENSG00000149485', 'ENSG00...","['FADS2', 'FADS1', 'TMEM258', 'BEST1', 'MYRF']","['FADS2: 309.5', 'FADS1: 309.5', 'TMEM258: 160...",0.08,rs968567,NaN,NaN,NaN,NaN,NaN,NaN,0.0

loops with allelic imbalance ALL

Empty DataFrame
Columns: [Unnamed: 0, chrA, startA, endA, chrB, startB, endB, loopID, loopScore, rsID, rsCoord, REF_counts, ALT_counts, svalue]
Index: []

loops with allelic imbalance CD4

Empty DataFrame
Columns: [Unnamed: 0, chrA, startA, endA, chrB, startB, endB, loopID, loopScore, rsID, rsCoord, REF_counts, ALT_counts, svalue]
Index: []

loops with allelic imbalance CD8

Empty DataFrame
Columns: [Unnamed: 0, chrA, startA, endA, chrB, startB, endB, loopID, loopScore, rsID, rsCoord, REF_counts, ALT_counts, svalue]
Index: []